{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.html"],
      "options": { "printWidth": 200 }
    }
  ]
}
